.story {
  background-color: #E8EEFF;
  overflow: hidden;
  border-radius: 16px;
}

.img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.owner {
  display: flex;
  gap: 16px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.ownerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.buttonPanel {
  display: flex;
  gap: 10px;
}

.button {
  font-size: 18px;
  background: #0000000D;
  height: 48px;
  width: 100%;
  border: 1px solid #00000026;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;

}

.favoriteButton {
  min-width: 48px;
  max-width: 48px;
}

.button:hover {
  background-color: #00000022;
}