.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section background */
.section {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f7f9ff;
  padding: 32px 0 64px;
}

/* Container */
.container {
  width: 100%;
  max-width: 767px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


/* tab 767px -1439*/
@media (min-width: 768px) {
  .section {
    padding: 32px 0 64px;
  }

  .container {
    max-width: 1439px;
  }
}

/* Desktop (1440px and up) */
@media (min-width: 1440px) {
  .section {
    padding: 48px 0 72px;
  }

  .container {
    max-width: 1440px;
  }
}