.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;

  line-height: 35px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
}
.pageWrapper {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 60px;
  box-sizing: border-box;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  overflow-x: hidden;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;

    line-height: 35px;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
  }
  .pageWrapper {
    margin-bottom: 64px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 56px;

    line-height: 53px;

    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
  }
  .pageWrapper {
    margin-bottom: 72px;
  }
}
