
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    background-color: #E8EEFF;
    overflow: hidden;
    border-radius: 16px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px; */
}

.title {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 8px 0;
    color: #000000;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* .category {

} */

.content {
    padding: 24px;
}

.button {
    align-self: flex-end;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #bb2d3b;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    color: #0d6efd;
    background-color: #e7f1ff;
    border: 1px solid #b6d4fe;
    border-radius: 12px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    align-self: flex-end;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #0d6efd;
    /* синій колір */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.link:hover {
    background-color: #0b5ed7;
}