
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    background-color: #E8EEFF;
    overflow: hidden;
    border-radius: 16px;
}

.img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.owner {
    display: flex;
    gap: 16px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.ownerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.buttonPanel {
    display: flex;
    gap: 10px;
}

.button {
    font-size: 18px;
    background: #0000000D;
    height: 48px;
    width: 100%;
    border: 1px solid #00000026;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    
}

.favoriteButton {
    min-width: 48px;
    max-width: 48px;
}

.button:hover {
    background-color: #00000022;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    color: #0d6efd;
    background-color: #e7f1ff;
    border: 1px solid #b6d4fe;
    border-radius: 12px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    align-self: flex-end;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #0d6efd;
    /* синій колір */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.link:hover {
    background-color: #0b5ed7;
}