.profile {
  padding: 32px 0 64px;
}
.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin: 32px 0 40px;
}
@media (min-width: 768px) {
  .title {
    font-size: 44px;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 52px;
  }
}

.btnContainer {
  display: flex;
  border: 1px solid var(--opacity-transparent);
  border-radius: 10px;
  padding: 4px;
  width: 335px;
  height: 48px;
  background: var(--color-scheme-2-foreground);
  margin-bottom: 40px;
}
.btnContainer li {
  display: flex;
  border-radius: 8px;
  padding-block: 4px;
  padding-inline: 12px;
  width: 163px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid var(--color-scheme-2-border);
  background: var(--color-scheme-2-background);
}
