.categoriesBtn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  border: none;
  background-color: transparent;
  padding: 12px;
  margin-bottom: 40px;
}
