.categoriesBtn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  border: none;
  background-color: transparent;
  padding: 12px;
}

.categoriesBtn:hover {
  border: 1px solid var(--opacity-transparent);
  border-radius: 8px;
  padding-block: 6px;
  padding-inline: 12px;
  height: 36px;
  background: var(--color-scheme-1-foreground);
}

/* mob categories */
.wrapperMob {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}

.dropdown {
  position: relative;
  margin-bottom: 40px;
}

.toggleBtn {
  width: 100%;
  padding: 10px 12px;
  background: var(--opacity-transparent);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnIcon {
  fill: var(--opacity-neutral-darkest-60);
  width: 24px;
  height: 24px;
}

.menu {
  margin-top: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 6px 0;
}

.item {
  padding: 10px 12px;
  cursor: pointer;
}

.item:hover {
  background: #f2f2f2;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.storyList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.loadMoreBtn {
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding-block: 6px;
  padding-inline: 12px;
  min-width: 335px;
  height: 48px;
  background: var(--color-royal-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
}

@media (min-width: 768px) {
  .storyList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .storyItem {
    max-width: 340px;
  }
  .loadMoreBtn {
    min-width: 100%;
  }
}

@media (min-width: 1440px) {
  .storyItem {
    max-width: 421px;
  }
  .loadMoreBtn {
    /* width: 135px; */
    font-size: 18px;
  }
}
